In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [11]:
# First load our data

dataframe = pd.read_csv('data.csv')
# Remove features that aren't relevant
dataframe = dataframe.drop(['price', 'sq_price'], axis=1)
# use the first 10 data points
dataframe = dataframe[:10]
dataframe

   index    area  bathrooms
0      0  2104.0        3.0
1      1  1600.0        3.0
2      2  2400.0        3.0
3      3  1416.0        2.0
4      4  3000.0        4.0
5      5  1985.0        4.0
6      6  1534.0        3.0
7      7  1427.0        3.0
8      8  1380.0        3.0
9      9  1494.0        3.0

In [12]:
# Add labels to our data
# 1 is a good buy, 0 is a bad buy
dataframe.loc[:, ('y1')] = [1,1,1,0,0,1,0,1,1,1]
# y2 is a negation of y1
dataframe.loc[:, ('y2')] = [0,0,0,1,1,0,1,0,0,0]
dataframe

   index    area  bathrooms  y1  y2
0      0  2104.0        3.0   1   0
1      1  1600.0        3.0   1   0
2      2  2400.0        3.0   1   0
3      3  1416.0        2.0   0   1
4      4  3000.0        4.0   0   1
5      5  1985.0        4.0   1   0
6      6  1534.0        3.0   0   1
7      7  1427.0        3.0   1   0
8      8  1380.0        3.0   1   0
9      9  1494.0        3.0   1   0

In [14]:
# Step 3 - prepare our data for tensor flow
# vector - a list of numbers (1D tensor)
# matrix is a list of vectors (2D tensor)
# matrix of matrix of list (3D tensor)

# convert features to input tensor
inputX = dataframe.loc[:, ['area', 'bathrooms']].as_matrix()
# convert labels to input tensor
inputY = dataframe.loc[:, ['y1', 'y2']].as_matrix()

In [15]:
inputX

array([[  2.10400000e+03,   3.00000000e+00],
       [  1.60000000e+03,   3.00000000e+00],
       [  2.40000000e+03,   3.00000000e+00],
       [  1.41600000e+03,   2.00000000e+00],
       [  3.00000000e+03,   4.00000000e+00],
       [  1.98500000e+03,   4.00000000e+00],
       [  1.53400000e+03,   3.00000000e+00],
       [  1.42700000e+03,   3.00000000e+00],
       [  1.38000000e+03,   3.00000000e+00],
       [  1.49400000e+03,   3.00000000e+00]])

In [16]:
inputY

array([[1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0]])

In [17]:
# Step 4 - define our hyperparamters
learning_rate = 0.000001
training_epocs = 2000
display_step = 50
n_samples = inputY.size

In [39]:
# Step 5 - create our neural network
# placeholders are gateways for data into our computation graph
x = tf.placeholder(tf.float32, [None, 2])

# 2x2 float matrix which will hold the weights we will be updating
# Variables in tf hold and update parameters
W = tf.Variable(tf.zeros([2, 2]))

# add biases
b = tf.Variable(tf.zeros([2]))

# multiply our weights by our inputs
# weights are how we govern how data flows in the neural network
# multiply input by weights and add biases
y_values = tf.add(tf.matmul(x, W), b) 

# Use the softmax activation function that translates the outputted numbers from the previous layer into probablites
y = tf.nn.softmax(y_values)

# For traning we'll also feed a matrix of labels
y_ = tf.placeholder(tf.float32, [None, 2])

In [ ]:
# Used the Mean squared error as our cost function
cost = tf.reduce_sum(tf.pow(y_ - y, 2))/(2*n_samples)

# Gradient descent
optimizer = tf.trainGradientDescentOptimier(learning_rate).minimize(cost)